.mailbox-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100vh - 128px);
  .selected {
    background-color: var(--themeColorSelected);
    border-left: 4px solid var(--themeColor);
    &:hover {
      background-color: var(--themeColorSelected) !important;
      border-left: 4px solid var(--themeColor) !important;
      .mail-trash {
        display: none !important;
      }

      .mail-starred {
        display: flex !important;
      }

      .mail-time {
        display: flex !important;
      }
    }
  }
  .mail-item {
    display: flex;
    padding: 0.5em 1em;
    border-bottom: 1px solid #c7c7c791;
    color: var(--labelColor);
    cursor: pointer;
    transition: all 0.25s linear;

    &:hover {
      background-color: var(--hoverBackground);
      border-left: 4px solid;

      .mail-trash {
        display: flex !important;
      }

      .mail-starred {
        display: flex !important;
      }

      // .mail-time {
      //   display: none !important;
      // }
    }
    .select-mail-container {
      padding-top: 13px;
      margin-right: 0.8em;
      $checkbox-size: 12px;
      $margin: 8px;
      $margin-small: $margin / 2;
      $text-lighter: var(--themeColor);
      $brand: var(--themeColor);

      input {
        position: relative !important;
        appearance: none;
        box-sizing: content-box;
        overflow: hidden;
        outline: none;
        cursor: pointer;

        // circle
        &:before {
          content: "";
          display: block;
          box-sizing: content-box;
          width: $checkbox-size;
          height: $checkbox-size;
          border: 2px solid $text-lighter;
          transition: 0.2s border-color ease;
        }

        &:checked:before {
          border-color: $brand;
          transition: 0.5s border-color ease;
        }

        &:disabled:before {
          border-color: $text-lighter;
          background-color: $text-lighter;
        }

        // dot
        &:after {
          content: "";
          display: block;
          position: absolute;
          box-sizing: content-box;
          top: 50%;
          left: 50%;
          transform-origin: 50% 50%;
          background-color: $brand;
          width: $checkbox-size;
          height: $checkbox-size;
          border-radius: 100vh;
          transform: translate(-50%, -50%) scale(0);
        }

        &[type="checkbox"] {
          &:before {
            border-radius: $checkbox-size / 4;
          }

          &:after {
            width: $checkbox-size * 0.6;
            height: $checkbox-size;
            border-radius: 0;
            transform: translate(-50%, -85%) scale(0) rotate(45deg);
            background-color: transparent;
            box-shadow: 4px 4px 0px 0px $brand;
          }

          &:checked:after {
            animation: toggleOnCheckbox 0.2s ease forwards;
          }
        }

        &[type="checkbox"].filled {
          &:before {
            border-radius: $checkbox-size / 4;
            transition: 0.2s border-color ease, 0.2s background-color ease;
          }

          &:checked:not(:disabled):before {
            background-color: $brand;
          }

          &:not(:disabled):after {
            box-shadow: 4px 4px 0px 0px white;
          }
        }
      }

      @keyframes toggleOnCheckbox {
        0% {
          opacity: 0;
          transform: translate(-50%, -85%) scale(0) rotate(45deg);
        }

        70% {
          opacity: 1;
          transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
        }

        100% {
          transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
        }
      }
    }
    .user-profile-icon-container {
      margin-right: 0.8em;
      padding-top: 4px;
      .user-profile-blockie-icon {
        height: 42px;
        width: 42px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .mail-content-container {
      flex-grow: 1;
      position: relative;
      transition: all 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045);
      .mail-user-container {
        display: flex;
        align-items: center;
        .mail-user-name-container {
          flex: 1;
          .mail-user-name {
            font-weight: 500;
            margin-right: 1em;
            color: var(--black);
          }
          .mail-user-wallet {
            margin-right: 8px;
          }
        }
        .mail-time {
          font-size: 14px;
          margin-right: 8px;
        }

        .mail-trash {
          display: none;
          height: 36px;
          width: 36px;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          cursor: pointer;
          position: absolute;
          right: 0;
          top: -6px;
          &:hover {
            background-color: var(--hoverBackground);
          }
        }
      }

      .mail-subject {
        font-size: 17px;
        font-weight: 500;
        color: var(--black);
      }

      .mail-body-container {
        display: flex;
        align-items: center;
        position: relative;
        .mail-body {
          flex: 1;
        }

        .starred-disabled {
          cursor: not-allowed !important;
        }
        .mail-starred {
          height: 36px;
          width: 36px;
          display: none;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          cursor: pointer;
          position: absolute;
          right: 0;
          bottom: 0;
          &:hover {
            background-color: var(--hoverBackground);
          }
        }
      }
    }
  }
}
