.header {
  display: flex;
  align-items: center;
  padding: 0.9em 0em;
  border-bottom: 1px solid #c7c7c791;
  .logo-container {
    width: 15%;
    .logo-name {
      margin: 0;
      padding-inline-start: 2em;
      font-size: 24px;
      font-weight: 400;
      color: var(--labelColor);
    }
  }
  .search-bar-container {
    flex-grow: 1;
    .search-bar {
      width: 50%;
      padding: 0.75em 2em;
      border-radius: 6px;
      background: #f2f3f4;
      display: flex;
      align-items: center;
      .search-bar-input {
        border: 0;
        background: transparent;
        font-size: 18px;
        outline: none;
        flex: 1;
        padding-inline-start: 1em;
      }
    }
  }
  .user-profile-container {
    margin-inline-end: 1.3em;
    display: flex;
    align-items: center;
    .notification-container {
      margin-right: 1em;
      color: var(--labelColor);
      font-size: 20px;
    }
    .user-profile-blockie-icon {
      height: 42px;
      width: 42px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .dropdown-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
  }

  .toolbar-dropdown-box {
    position: absolute;
    right: 1.4em;
    top: 4.5em;
    min-width: 218px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 6px;
    padding: 1em;
    z-index: 1000;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

    .toolbar-dropdown-profile-icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      .user-profile-blockie-icon {
        height: 42px;
        width: 42px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .wallet-address-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px 24px;
      margin-top: 12px;
      background-color: var(--hoverBackground);
      border-radius: 6px;
      padding: 4px 12px;
      cursor: pointer;
      transition: all 0.25s ease;
      &:hover {
        background-color: var(--bodyBg);
        .wallet-address-copy {
          display: block;
        }
      }
      &:active {
        background-color: var(--labelColor);
        color: var(--white);
      }
      .dropdown-title {
        text-align: center;
        margin-right: 8px;
      }
      .wallet-address-copy {
        display: none;
      }
    }

    .dropdown-menu-button-container {
      display: flex;
      justify-content: center;
      margin-top: 1em;
      .dropdown-menu-button {
        min-width: 140px;
        min-height: 35px;
        padding: 6px 16px;
        font-size: 0.875rem;
        border-radius: 8px;
        letter-spacing: 0.9px;
        text-transform: none;
        font-weight: 500;
        line-height: 1.75;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
          box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
          border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
          0px 4px 5px 0px rgba(0, 0, 0, 0.14),
          0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        background-color: var(--themeColor);
        border: 1px solid var(--themeColor);
        color: var(--white);
        cursor: pointer;
        outline: none;

        &:hover {
          background-color: var(--themeColorDark);
          border: 1px solid var(--themeColorDark);
        }
      }
    }
  }
}
