.compose-mail-box {
  position: absolute;
  bottom: 0;
  right: 24px;
  width: 514px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  .compose-mail-header {
    display: flex;
    padding: 8px 12px;
    background: var(--textColor);
    color: var(--white);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    cursor: pointer;
    .compose-mail-header-title {
      flex: 1;
      margin-left: 8px;
    }
    .compose-mail-header-collapse {
      margin-right: 0.75em;
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: var(--hoverBackground);
      }
    }
    .compose-mail-header-close {
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: var(--hoverBackground);
      }
    }
  }

  .compose-body-container {
    padding: 0px 8px;
    background: var(--white);
    min-height: 460px;

    .compose-body-recipient {
      display: flex;
      padding: 6px 0px;
      border-bottom: 1px solid #c7c7c791;

      .compose-body-recipient-input {
        border: 0;
        background: transparent;
        font-size: 15px;
        font-weight: 500;
        outline: none;
        flex: 1 1;
      }
    }
    .compose-body-subject {
      display: flex;
      padding: 6px 0px;
      border-bottom: 1px solid #c7c7c791;
      .compose-body-subject-input {
        border: 0;
        background: transparent;
        font-size: 15px;
        font-weight: 500;
        outline: none;
        flex: 1 1;
      }
    }

    .compose-body-amount {
      display: flex;
      padding: 6px 0px;
      border-bottom: 1px solid #c7c7c791;
      .compose-body-amount-input {
        border: 0;
        background: transparent;
        font-size: 15px;
        font-weight: 500;
        outline: none;
        flex: 1 1;
      }
    }

    .compose-body-content {
      display: flex;
      padding: 6px 0px;
      .mail-editor {
        flex: 1;
        .mail-editor-body {
          min-height: 292px;
          max-height: 388px;
          overflow-y: auto;

          p {
            margin-block-start: 4px;
            margin-block-end: 4px;
          }
        }
        .css-t12sj4 {
          padding: 4px 8px !important;
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
            0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2) !important;
          margin: 0px !important;
          border-bottom: 0px !important;

          .css-1vdn1ty {
            color: var(--labelColor) !important;
          }
        }
      }
    }

    .compose-body-buttons-container {
      padding: 8px 0px;
      display: flex;
      align-items: center;
      .send-button-container {
        flex-grow: 1;
        .send-mail-button {
          height: 36px;
          background: var(--themeColor);
          color: var(--white);
          border-radius: 6px;
          cursor: pointer;
          text-transform: none;
          border: 1px solid var(--themeColor);
          box-shadow: 1px 1px 6px 0px #9b4dca94;
          align-items: center;
          transition: all 0.5s;
          padding: 0px 36px;
          font-size: 15px;
        }
      }
    }
  }
}
