@mixin poCentering {
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.auth {
  width: 460px;
  height: 564px;
  padding: 10px 20px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.160784);
  overflow: hidden;
  border-radius: 6px;
  @include poCentering();
  color: var(--labelColor);

  .widget-main-container {
    .widget-container {
      text-align: center;

      .widget-title {
        font-size: 36px;
        font-weight: 500;
        margin: 1em 0em;
      }

      .wallet-input-field {
        position: relative;
        margin: 0px 6em;
        min-height: 200px;
        border: 2px dashed;
        display: flex;
        justify-content: center;
        align-items: center;
        .wallet-file-import {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 100;
          cursor: pointer;
        }
      }

      .widget-description {
        margin: 2em 0em;
        font-size: 15px;
        div:nth-last-child(1) {
          margin-top: 0.75em;
        }
      }
      .get-wallet-container {
        margin: 0 3em;
        .get-wallet-button {
          width: 100%;
          min-height: 35px;
          padding: 10px 26px;
          font-size: 0.875rem;
          border-radius: 4px;
          letter-spacing: 0.9px;
          text-transform: none;
          font-weight: 500;
          line-height: 1.75;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          // box-shadow: 0px 2px 4px -1px var(--themeColor),
          //   0px 4px 5px 0px var(--themeColor),
          //   0px 1px 10px 0px var(--themeColor);
          border: 1px solid var(--themeColor);
          color: var(--themeColor);
          cursor: pointer;
          text-decoration: none;

          &:hover {
            border: 2px solid var(--themeColorDark);
            color: var(--themeColorDark);
          }
        }
      }
    }
  }
}
